body {
    background-color: powderblue;
    font-family: "Arial";
}
.title {
    text-align: center;
    font-size: 50px;
}
h2 {
    text-align: center;
    position: relative;
    top: 40px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.box {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}
.box:hover {
    transform: scale(1.03);
    border-color: blue;
    background-color: white;
}
.box:visited {
    color: inherit;
}
.faq-title {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 40px;
}
.faq-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 100px;
}
.faq {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    text-align: center;
}
.faq h3 {
    font-size: 30px;
}
.faq p {
    text-align: left;
    padding: 20px;
    line-height: 25px
}